OPENAI_API_KEY=
MONGO_URI=
GUPSHUP_APP_ID=80ef136a-44bc-4a88-b141-5d9e5eb52864
GUPSHUP_TOKEN=
GUPSHUP_APP_NAME=JaipurRugs
GUPSHUP_API_KEY=
GUPSHUP_SOURCE=15559297806
DEFAULT_COUNTRY_CODE=91
CORS_ORIGINS=https://samron-bot-lvkk.vercel.app,http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
ENV_MODE="dev"
PINECONE_API=
PINECONE_NAMESPACE=
