OPENAI_API_KEY=
MONGO_URI=
GUPSHUP_APP_ID=80ef136a-44bc-4a88-b141-5d9e5eb52864
GUPSHUP_TOKEN=
GUPSHUP_APP_NAME=JaipurRugs
GUPSHUP_API_KEY=
GUPSHUP_SOURCE=15559297806
GUPSHUP_PARTNER_TOKEN=
GUPSHUP_PARTNER_EMAIL=
GUPSHUP_PARTNER_CLIENT_SECRET=
GUPSHUP_PARTNER_PASSWORD=
GUPSHUP_PARTNER_APP_TOKEN=
GUPSHUP_WEBHOOK_TAG=jaipur-rugs-backend
GUPSHUP_WEBHOOK_VERSION=3
GUPSHUP_WEBHOOK_MODES=MESSAGE,SENT,DELIVERED,READ,DELETED,FAILED,OTHERS,ENQUEUED
GUPSHUP_WEBHOOK_SHOW_ON_UI=true
WEBHOOK_URL=https://jaipurrugs-whatsapp-backend.vercel.app/gupshup/message/hc
DEFAULT_COUNTRY_CODE=91
CORS_ORIGINS=https://jaipurrugs-bot.vercel.app,https://jaipurrugs-kj8bpr4k4-qlink149s-projects.vercel.app,http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
ENV_MODE="dev"
PINECONE_API=
PINECONE_NAMESPACE=
